In [1]:
def fun():
    print("this is fun")
class c1:
    print("this is class")

this is class

In [2]:
def fun():
    print("this is fun")
class c1:
    print("this is class")
    a=1000
    b=2000
    def fun1(x):
        print("this s fun1 in c1")
    print(a,b)
    fun1(100)

this is class
1000 2000
this s fun1 in c1

In [3]:
def fun():
    print("this is fun")
class c1:
    print("this is class")
    a=1000
    b=2000
    def fun1(x):
        print("this s fun1 in c1")
print(a,b)
fun1(100)

this is class

NameError: name 'a' is not defined

In [4]:
def fun():
    print("this is fun")
class c1:
    print("this is class")
    a=1000
    b=2000
    def fun1(x):
        print("this s fun1 in c1")
print(c1.a,c1.b)
c1.fun1(100)

this is class
1000 2000
this s fun1 in c1

In [5]:
class Emp:
    def fun(x):
        print(x)
Emp.fun(100)

100

In [6]:
class Emp:
    def fun(x):
        print(x)
    def sal_cal(x):
        print(x)
jay=Emp()
jay.name="JAYARAM"
jay.age=23
jay.sal=2345456
Emp.sal_cal(1000)

1000

In [7]:
class Emp:
    def fun(x):
        print(x)
    def sal_cal(x):
        print(x)
jay=Emp()
jay.name="JAYARAM"
jay.age=23
jay.sal=2345456
Emp.sal_cal(jay)

<__main__.Emp object at 0x7fecf9f4ee80>

In [8]:
class Emp:
    def fun(x):
        print(x)
    def sal_cal(x):
        print(x.sal)
jay=Emp()
jay.name="JAYARAM"
jay.age=23
jay.sal=2345456
Emp.sal_cal(jay)

2345456

In [9]:
class Emp:
    def fun(x):
        print(x)
    def sal_cal(x):
        print(x.sal+x.sal*0.1)
jay=Emp()
jay.name="JAYARAM"
jay.age=23
jay.sal=2345456
Emp.sal_cal(jay)

2580001.6

In [10]:
class Emp:
    def fun(x):
        print(x)
    def sal_cal(x):
        print(x.sal+x.sal*0.1)
jay=Emp()
jay.name="JAYARAM"
jay.age=23
jay.sal=2345456
Emp.sal_cal(jay)
vedha=Emp()
Emp.sal_cal(vedha)

2580001.6

AttributeError: 'Emp' object has no attribute 'sal'

In [11]:
class Emp:
    def set_data(x,e_name,e_age,e_sal):
        x.name=e_name
        x.age=e_age
        x.sal=e_sal
    def fun(x):
        print(x)
    def sal_cal(x):
        print(x.sal+x.sal*0.1)
jay=Emp()
Emp.set_data(jay,"JAYARAM",23,345678)
#jay.name="JAYARAM"
#jay.age=23
#jay.sal=2345456
Emp.sal_cal(jay)
vedha=Emp()
Emp.set_data(vedha,"Vedhanvesh",34,43213456)
Emp.sal_cal(vedha)

380245.8
47534801.6

In [12]:
class Emp:
    company_name="Khyaathi"
    company_address="maithrivanam"
    def set_data(x,e_name,e_age,e_sal):
        x.name=e_name
        x.age=e_age
        x.sal=e_sal
    def fun(x):
        print(x)
    def sal_cal(x):
        print(x.sal+x.sal*0.1)
jay=Emp()
#Emp.set_data(jay,"JAYARAM",23,345678)
jay.set_data("JAYARAM",23,345678)
#Emp.sal_cal(jay)
jay.sal_cal()
vedha=Emp()
#Emp.set_data(vedha,"Vedhanvesh",34,43213456)
vedha.set_data("Vedhanvesh",34,43213456)
#Emp.sal_cal(vedha)
vedha.sal_cal()

380245.8
47534801.6

In [13]:
class Emp:
    company_name="Khyaathi"
    company_address="maithrivanam"
    def set_data(x,e_name,e_age,e_sal):
        x.name=e_name
        x.age=e_age
        x.sal=e_sal
    def fun(x):
        print(x)
    def sal_cal(x):
        print(x.sal+x.sal*0.1)
jay=Emp()
jay.set_data("JAYARAM",23,345678)
jay.sal_cal()
vedha=Emp()
vedha.set_data("Vedhanvesh",34,43213456)
vedha.sal_cal()

380245.8
47534801.6

In [14]:
class Emp:
    company_name="Khyaathi"
    company_address="maithrivanam"
    def set_data(x,e_name,e_age,e_sal):
        x.name=e_name
        x.age=e_age
        x.sal=e_sal
    def fun(x):
        print(x)
    def sal_cal(x):
        print(x.sal+x.sal*0.1)
jay=Emp()
jay.set_data("JAYARAM",23,345678)
jay.sal_cal(100)
vedha=Emp()
vedha.set_data("Vedhanvesh",34,43213456)
vedha.sal_cal(1000)

TypeError: sal_cal() takes 1 positional argument but 2 were given

In [15]:
class Emp:
    company_name="Khyaathi"
    company_address="maithrivanam"
    def set_data(x,e_name,e_age,e_sal):
        x.name=e_name
        x.age=e_age
        x.sal=e_sal
    def fun(x):
        print(x)
    def sal_cal(x):
        print(x.sal+x.sal*0.1)
jay=Emp()
jay.set_data("JAYARAM",23,345678)
jay.sal_cal()
vedha=Emp()
vedha.set_data("Vedhanvesh",34,43213456)
vedha.sal_cal()
sai=Emp()
sai.sal_cal()

380245.8
47534801.6

AttributeError: 'Emp' object has no attribute 'sal'

In [16]:
class Emp:
    print("this is class")
    def get(x):
        print("this is get")
        return x.name,x.sal,x.age

this is class

In [17]:
class Emp:
    print("this is class")
    def get(x):
        print("this is get")
        return x.name,x.sal,x.age
    def __init__(x):
        print("this is constructor")

this is class

In [18]:
class Emp:
    print("this is class")
    def get(x):
        print("this is get")
        return x.name,x.sal,x.age
    def __init__(x):
        print("this is constructor")
jay=Emp()

this is class
this is constructor

In [19]:
class Emp:
    print("this is class")
    def get(x):
        print("this is get")
        return x.name,x.sal,x.age
    def __init__(x):
        print("this is constructor")
jay=Emp()
vedha=Emp()
sai=Emp()

this is class
this is constructor
this is constructor
this is constructor

In [20]:
class Emp:
    print("this is class")
    def get(x):
        print("this is get")
        return x.name,x.sal,x.age
    def __init1__(x):
        print("this is constructor")
jay=Emp()
vedha=Emp()
sai=Emp()

this is class

In [2]:
class Emp:
    company_name="Khyaathi"
    company_address="maithrivanam"
    def __init__(x,e_name,e_age,e_sal):
        x.name=e_name
        x.age=e_age
        x.sal=e_sal
    def fun(x):
        print(x)
    def sal_cal(x):
        print(x.sal+x.sal*0.1)
jay=Emp("JAYARAM",23,345678)
jay.sal_cal()
vedha=Emp("Vedhanvesh",34,43213456)
vedha.sal_cal()

380245.8
47534801.6

In [3]:
class Emp:
    company_name="Khyaathi"
    company_address="maithrivanam"
    def __init__(x,e_name,e_age,e_sal):
        x.name=e_name
        x.age=e_age
        x.sal=e_sal
    def sal_cal(x):
        print(x.sal+x.sal*0.1)
jay=Emp("JAYARAM",23,345678)
jay.sal_cal()
vedha=Emp("Vedhanvesh",34,43213456)
vedha.sal_cal()
sai=Emp()

380245.8
47534801.6

TypeError: __init__() missing 3 required positional arguments: 'e_name', 'e_age', and 'e_sal'

In [5]:
class Emp:
    company_name="Khyaathi"
    company_address="maithrivanam"
    def __init__(x,e_name,e_age,e_sal):
        x.name=e_name
        x.age=e_age
        x.sal=e_sal
    def sal_cal(x):
        print(x.sal+x.sal*0.1)
    def get(self):
        return self.name,self.age,self.sal, self.company_name,self.company_address
jay=Emp("JAYARAM",23,345678)
jay.sal_cal()
vedha=Emp("Vedhanvesh",34,43213456)
vedha.sal_cal()
print(jay.get())
print(vedha.get())

380245.8
47534801.6
('JAYARAM', 23, 345678, 'Khyaathi', 'maithrivanam')
('Vedhanvesh', 34, 43213456, 'Khyaathi', 'maithrivanam')

In [6]:
class Emp:
    company_name="Khyaathi"
    company_address="maithrivanam"
    def __init__(x,e_name,e_age,e_sal):
        x.name=e_name
        x.age=e_age
        x.sal=e_sal
    def sal_cal(x):
        print(x.sal+x.sal*0.1)
    def get(self):
        return self.name,self.age,self.sal, self.company_name,self.company_address
jay=Emp("JAYARAM",23,345678)
jay.sal_cal()
vedha=Emp("Vedhanvesh",34,43213456)
vedha.sal_cal()
print(jay.get())
print(vedha.get())
print(Emp.company_name)
print(Emp.company_address)

380245.8
47534801.6
('JAYARAM', 23, 345678, 'Khyaathi', 'maithrivanam')
('Vedhanvesh', 34, 43213456, 'Khyaathi', 'maithrivanam')
Khyaathi
maithrivanam

In [7]:
class Emp:
    company_name="Khyaathi"
    company_address="maithrivanam"
    def __init__(x,e_name,e_age,e_sal):
        x.name=e_name
        x.age=e_age
        x.sal=e_sal
    def sal_cal(x):
        print(x.sal+x.sal*0.1)
    def get(self):
        return self.name,self.age,self.sal, self.company_name,self.company_address
jay=Emp("JAYARAM",23,345678)
jay.sal_cal()
vedha=Emp("Vedhanvesh",34,43213456)
vedha.sal_cal()
print(jay.get())
print(vedha.get())
print(Emp.company_name)
print(Emp.company_address)
print(Emp.name)

380245.8
47534801.6
('JAYARAM', 23, 345678, 'Khyaathi', 'maithrivanam')
('Vedhanvesh', 34, 43213456, 'Khyaathi', 'maithrivanam')
Khyaathi
maithrivanam

AttributeError: type object 'Emp' has no attribute 'name'

In [8]:
class c1:
    def op1(self):
        print("this is op1 in c1")
class c2:
    def op2(self):
        print("this is op2 in c2")
class c3:
    def operations(self):
        print("this is operations in c3")
o3=c3()
o3.operations()

this is operations in c3

In [9]:
class c1:
    def op1(self):
        print("this is op1 in c1")
class c2:
    def op2(self):
        print("this is op2 in c2")
class c3:
    def operations(self):
        print("this is operations in c3")
o3=c3()
o3.operations()
o1=c1()
o2=c2()
o1.op1()
o2.op2()

this is operations in c3
this is op1 in c1
this is op2 in c2

In [10]:
class c1:
    def op1(self):
        print("this is op1 in c1")
class c2:
    def op2(self):
        print("this is op2 in c2")
class c3:
    def operations(self):
        print("this is operations in c3")
o3=c3()
o3.operations()
o3.op1()
o3.op2()

this is operations in c3

AttributeError: 'c3' object has no attribute 'op1'

In [11]:
class c1:
    def op1(self):
        print("this is op1 in c1")
class c2:
    def op2(self):
        print("this is op2 in c2")
class c3(c1,c2):
    def operations(self):
        print("this is operations in c3")
o3=c3()
o3.operations()
o3.op1()
o3.op2()

this is operations in c3
this is op1 in c1
this is op2 in c2

In [12]:
class c1:
    def op1(self):
        print("this is op1 in c1")
class c2:
    def op2(self):
        print("this is op2 in c2")
class c3(c1,c2):
    def operations(self):
        print("this is operations in c3")
    def op1(self):# method overriding
        print("this is op1 in c3")
o3=c3()
o3.operations()
o3.op1()
o3.op2()

this is operations in c3
this is op1 in c3
this is op2 in c2

In [13]:
class c1:
    def op1(self):
        print("this is op1 in c1")
class c2:
    def op2(self):
        print("this is op2 in c2")
class c3(c1,c2):
    def operations(self):
        print("this is operations in c3")
        self.op1()
        self.op2()
    def op1(self):# method overriding
        print("this is op1 in c3")
        
o3=c3()
o3.operations()
o3.op1()
o3.op2()

this is operations in c3
this is op1 in c3
this is op2 in c2
this is op1 in c3
this is op2 in c2

In [14]:
class c1:
    def op1(self):
        print("this is op1 in c1")
class c2:
    def op2(self):
        print("this is op2 in c2")
class c3(c1,c2):
    def operations(self):
        print("this is operations in c3")
        self.op1()
        self.op2()
    def op1(self):# method overriding
        print("this is op1 in c3")
        c1.op1(self) # this calls the c1 class op1 method
        
o3=c3()
o3.operations()
o3.op1()
o3.op2()

this is operations in c3
this is op1 in c3
this is op1 in c1
this is op2 in c2
this is op1 in c3
this is op1 in c1
this is op2 in c2

In [15]:
class Emp:
    company_name="Khyaathi"
    company_address="maithrivanam"
    def __init__(x,e_name,e_age=None,e_sal=0.0): # method overloading
        x.name=e_name
        x.age=e_age
        x.sal=e_sal
    def sal_cal(x):
        print(x.sal+x.sal*0.1)
    def get(self):
        return self.name,self.age,self.sal, self.company_name,self.company_address
jay=Emp("JAYARAM",23,345678)
vedha=Emp("Vedhanvesh",34,43213456)
sai=Emp("sai laxmi")
samba=Emp("sambasivarao")
print(sai.get())
print(samba.get())
print(jay.get())
print(vedha.get())

('sai laxmi', None, 0.0, 'Khyaathi', 'maithrivanam')
('sambasivarao', None, 0.0, 'Khyaathi', 'maithrivanam')
('JAYARAM', 23, 345678, 'Khyaathi', 'maithrivanam')
('Vedhanvesh', 34, 43213456, 'Khyaathi', 'maithrivanam')

In [ ]:
# operator oveloading?
class Emp:
    company_name="Khyaathi"
    company_address="maithrivanam"
    def __init__(x,e_name,e_age=None,e_sal=0.0): # method overloading
        x.name=e_name
        x.age=e_age
        x.sal=e_sal
    def sal_cal(x):
        print(x.sal+x.sal*0.1)
    def get(self):
        return self.name,self.age,self.sal, self.company_name,self.company_address
jay=Emp("JAYARAM",23,345678)
vedha=Emp("Vedhanvesh",34,43213456)
sai=Emp("sai laxmi")
samba=Emp("sambasivarao")
print(jay+vedha)

In [16]:
l=[1,2,3,4]
l.append(10)
print(l)

[1, 2, 3, 4, 10]

In [17]:
# operator oveloading?
class Emp:
    company_name="Khyaathi"
    company_address="maithrivanam"
    def __init__(x,e_name,e_age=None,e_sal=0.0): # method overloading
        x.name=e_name
        x.age=e_age
        x.sal=e_sal
    def sal_cal(x):
        print(x.sal+x.sal*0.1)
    def get(self):
        return self.name,self.age,self.sal, self.company_name,self.company_address
jay=Emp("JAYARAM",23,345678)
vedha=Emp("Vedhanvesh",34,43213456)
sai=Emp("sai laxmi")
samba=Emp("sambasivarao")
print(type(Emp))

<class 'type'>

In [18]:
a=100
b=200
a+b

300

In [19]:
# operator oveloading?
class Emp:
    company_name="Khyaathi"
    company_address="maithrivanam"
    def __init__(x,e_name,e_age=None,e_sal=0.0): # method overloading
        x.name=e_name
        x.age=e_age
        x.sal=e_sal
    def sal_cal(x):
        print(x.sal+x.sal*0.1)
    def get(self):
        return self.name,self.age,self.sal, self.company_name,self.company_address
jay=Emp("JAYARAM",23,345678)
vedha=Emp("Vedhanvesh",34,43213456)
sai=Emp("sai laxmi")
samba=Emp("sambasivarao")
print(jay+vedha)

TypeError: unsupported operand type(s) for +: 'Emp' and 'Emp'

In [20]:
# operator oveloading?
class Emp:
    company_name="Khyaathi"
    company_address="maithrivanam"
    def __init__(x,e_name,e_age=None,e_sal=0.0): # method overloading
        x.name=e_name
        x.age=e_age
        x.sal=e_sal
    def sal_cal(x):
        print(x.sal+x.sal*0.1)
    def get(self):
        return self.name,self.age,self.sal, self.company_name,self.company_address
    def __add__(self1,self2):
        return 2000
jay=Emp("JAYARAM",23,345678)
vedha=Emp("Vedhanvesh",34,43213456)
sai=Emp("sai laxmi")
samba=Emp("sambasivarao")
print(jay+vedha)

2000

In [21]:
# operator oveloading?
class Emp:
    company_name="Khyaathi"
    company_address="maithrivanam"
    def __init__(x,e_name,e_age=None,e_sal=0.0): # method overloading
        x.name=e_name
        x.age=e_age
        x.sal=e_sal
    def sal_cal(x):
        print(x.sal+x.sal*0.1)
    def get(self):
        return self.name,self.age,self.sal, self.company_name,self.company_address
    def __add__(self1,self2):
        return (self1.__dict__, self2.__dict__)
jay=Emp("JAYARAM",23,345678)
vedha=Emp("Vedhanvesh",34,43213456)
sai=Emp("sai laxmi")
samba=Emp("sambasivarao")
print(jay+vedha)

({'name': 'JAYARAM', 'age': 23, 'sal': 345678}, {'name': 'Vedhanvesh', 'age': 34, 'sal': 43213456})

In [23]:
# operator oveloading?
class Emp:
    company_name="Khyaathi"
    company_address="maithrivanam"
    def __init__(x,e_name,e_age=None,e_sal=0.0): # method overloading
        x.name=e_name
        x.age=e_age
        x.sal=e_sal
    def sal_cal(x):
        print(x.sal+x.sal*0.1)
    def get(self):
        return self.name,self.age,self.sal, self.company_name,self.company_address
    def __add__(self1,self2):
        return (self1.__dict__, self2.__dict__)
    def __sub__(self1,self2):
        return 300
jay=Emp("JAYARAM",23,345678)
vedha=Emp("Vedhanvesh",34,43213456)
sai=Emp("sai laxmi")
samba=Emp("sambasivarao")
print(jay+vedha)
print(jay-vedha)

({'name': 'JAYARAM', 'age': 23, 'sal': 345678}, {'name': 'Vedhanvesh', 'age': 34, 'sal': 43213456})
300

In [24]:
# operator oveloading?
class Emp:
    company_name="Khyaathi"
    company_address="maithrivanam"
    def __init__(x,e_name,e_age=None,e_sal=0.0): # method overloading
        x.name=e_name
        x.age=e_age
        x.sal=e_sal
    def sal_cal(x):
        print(x.sal+x.sal*0.1)
    def get(self):
        return self.name,self.age,self.sal, self.company_name,self.company_address
    def __add__(self1,self2):
        return (self1.__dict__, self2.__dict__)
    def __sub__(self1,self2):
        return 300
jay=Emp("JAYARAM",23,345678)
vedha=Emp("Vedhanvesh",34,43213456)
sai=Emp("sai laxmi")
samba=Emp("sambasivarao")
print(jay+vedha)
print(jay-vedha)
print(len(jay))

({'name': 'JAYARAM', 'age': 23, 'sal': 345678}, {'name': 'Vedhanvesh', 'age': 34, 'sal': 43213456})
300

TypeError: object of type 'Emp' has no len()

In [25]:
# operator oveloading?
class Emp:
    company_name="Khyaathi"
    company_address="maithrivanam"
    def __init__(x,e_name,e_age=None,e_sal=0.0): # method overloading
        x.name=e_name
        x.age=e_age
        x.sal=e_sal
    def sal_cal(x):
        print(x.sal+x.sal*0.1)
    def get(self):
        return self.name,self.age,self.sal, self.company_name,self.company_address
    def __add__(self1,self2):
        return (self1.__dict__, self2.__dict__)
    def __sub__(self1,self2):
        return 300
    def __len__(self):
        return 200
jay=Emp("JAYARAM",23,345678)
vedha=Emp("Vedhanvesh",34,43213456)
sai=Emp("sai laxmi")
samba=Emp("sambasivarao")
print(jay+vedha)
print(jay-vedha)
print(len(jay))

({'name': 'JAYARAM', 'age': 23, 'sal': 345678}, {'name': 'Vedhanvesh', 'age': 34, 'sal': 43213456})
300
200

In [26]:
# operator oveloading?
class Emp:
    company_name="Khyaathi"
    company_address="maithrivanam"
    def __init__(x,e_name,e_age=None,e_sal=0.0): # method overloading
        x.name=e_name
        x.age=e_age
        x.sal=e_sal
    def sal_cal(x):
        print(x.sal+x.sal*0.1)
    def get(self):
        return self.name,self.age,self.sal, self.company_name,self.company_address
    def __add__(self1,self2):
        return (self1.__dict__, self2.__dict__)
    def __sub__(self1,self2):
        return 300
    def __len__(self):
        return len(self.__dict__)
jay=Emp("JAYARAM",23,345678)
vedha=Emp("Vedhanvesh",34,43213456)
sai=Emp("sai laxmi")
samba=Emp("sambasivarao")
print(jay+vedha)
print(jay-vedha)
print(len(jay))

({'name': 'JAYARAM', 'age': 23, 'sal': 345678}, {'name': 'Vedhanvesh', 'age': 34, 'sal': 43213456})
300
3

In [27]:
# operator overloading
a=10
b=20
print(a+b)
print("sdfsd"+"sdfsdf")
print(1+2j+3+4j)

30
sdfsdsdfsdf
(4+6j)

In [28]:
# operator oveloading?
class Emp:
    company_name="Khyaathi"
    company_address="maithrivanam"
    def __init__(x,e_name,e_age=None,e_sal=0.0): # method overloading
        x.name=e_name
        x.age=e_age
        x.sal=e_sal
    def sal_cal(x):
        print(x.sal+x.sal*0.1)
    def get(self):
        return self.name,self.age,self.sal, self.company_name,self.company_address
    def __add__(self1,self2):
        return (self1.__dict__, self2.__dict__)
    def __sub__(self1,self2):
        return 300
    def __len__(self):
        return len(self.__dict__)
jay=Emp("JAYARAM",23,345678)
vedha=Emp("Vedhanvesh",34,43213456)
sai=Emp("sai laxmi")
samba=Emp("sambasivarao")
print(jay+vedha)
print(jay-vedha)
print(len(jay))
for i in jay:
    print(i)

({'name': 'JAYARAM', 'age': 23, 'sal': 345678}, {'name': 'Vedhanvesh', 'age': 34, 'sal': 43213456})
300
3

TypeError: 'Emp' object is not iterable

In [29]:
# operator oveloading?
class Emp:
    company_name="Khyaathi"
    company_address="maithrivanam"
    def __init__(x,e_name,e_age=None,e_sal=0.0): # method overloading
        x.name=e_name
        x.age=e_age
        x.sal=e_sal
    def sal_cal(x):
        print(x.sal+x.sal*0.1)
    def get(self):
        return self.name,self.age,self.sal, self.company_name,self.company_address
    def __add__(self1,self2):
        return (self1.__dict__, self2.__dict__)
    def __sub__(self1,self2):
        return 300
    def __len__(self):
        return len(self.__dict__)
    def __iter__(self):
        for i in self.__dict__:
            yield i
jay=Emp("JAYARAM",23,345678)
vedha=Emp("Vedhanvesh",34,43213456)
sai=Emp("sai laxmi")
samba=Emp("sambasivarao")
print(jay+vedha)
print(jay-vedha)
print(len(jay))
for i in jay:
    print(i)

({'name': 'JAYARAM', 'age': 23, 'sal': 345678}, {'name': 'Vedhanvesh', 'age': 34, 'sal': 43213456})
300
3
name
age
sal

In [30]:
# operator oveloading?
class Emp:
    company_name="Khyaathi"
    company_address="maithrivanam"
    def __init__(x,e_name,e_age=None,e_sal=0.0): # method overloading
        x.name=e_name
        x.age=e_age
        x.sal=e_sal
    def sal_cal(x):
        print(x.sal+x.sal*0.1)
    def get(self):
        return self.name,self.age,self.sal, self.company_name,self.company_address
    def __add__(self1,self2):
        return (self1.__dict__, self2.__dict__)
    def __sub__(self1,self2):
        return 300
    def __len__(self):
        return len(self.__dict__)
    def __iter__(self):
        for i in self.__dict__.items():
            yield i
jay=Emp("JAYARAM",23,345678)
vedha=Emp("Vedhanvesh",34,43213456)
sai=Emp("sai laxmi")
samba=Emp("sambasivarao")
print(jay+vedha)
print(jay-vedha)
print(len(jay))
for i in jay:
    print(i)

({'name': 'JAYARAM', 'age': 23, 'sal': 345678}, {'name': 'Vedhanvesh', 'age': 34, 'sal': 43213456})
300
3
('name', 'JAYARAM')
('age', 23)
('sal', 345678)

In [31]:
# encapsulation
class Emp:
    company_name="Khyaathi"
    company_address="maithrivanam"
    def __init__(x,e_name,e_age=None,e_sal=0.0): # method overloading
        x.name=e_name
        x.age=e_age
        x.sal=e_sal
    def get(self):
        return self.name,self.age,self.sal, self.company_name,self.company_address
jay=Emp("JAYARAM",23,345678)
print(jay.get())

('JAYARAM', 23, 345678, 'Khyaathi', 'maithrivanam')

In [32]:
# encapsulation
class Emp:
    company_name="Khyaathi"
    company_address="maithrivanam"
    def __init__(x,e_name,e_age=None,e_sal=0.0): # method overloading
        x.name=e_name
        x.age=e_age
        x.sal=e_sal
    def get(self):
        return self.name,self.age,self.sal, self.company_name,self.company_address
jay=Emp("JAYARAM",23,345678)
jay.age=16
print(jay.get())

('JAYARAM', 16, 345678, 'Khyaathi', 'maithrivanam')

In [34]:
# encapsulation
class Emp:
    company_name="Khyaathi"
    company_address="maithrivanam"
    def __init__(x,e_name,e_age=None,e_sal=0.0): # method overloading
        x.name=e_name
        x.__age=e_age
        x.sal=e_sal
    def get(self):
        return self.name,self.__age,self.sal, self.company_name,self.company_address
jay=Emp("JAYARAM",23,345678)
jay.__age=16
print(jay.get())

('JAYARAM', 23, 345678, 'Khyaathi', 'maithrivanam')

In [38]:
# encapsulation
class Emp:
    company_name="Khyaathi"
    company_address="maithrivanam"
    def __init__(self,e_name,e_age=None,e_sal=0.0): # method overloading
        self.name=e_name
        self.__age=e_age
        self.sal=e_sal
        self.usal = self.__sal_cal()
    def __sal_cal(self):
        return self.sal+self.sal*0.1
    def get(self):
        return self.name,self.__age,self.sal, self.company_name,self.company_address,self.usal
jay=Emp("JAYARAM",23,345678)
jay.__age=16
print(jay.get())

('JAYARAM', 23, 345678, 'Khyaathi', 'maithrivanam', 380245.8)

In [39]:
# encapsulation
class Emp:
    company_name="Khyaathi"
    company_address="maithrivanam"
    def __init__(self,e_name,e_age=None,e_sal=0.0): # method overloading
        self.name=e_name
        self.__age=e_age
        self.sal=e_sal
        self.usal = self.__sal_cal()
    def __sal_cal(self):
        return self.sal+self.sal*0.1
    def get(self):
        return self.name,self.__age,self.sal, self.company_name,self.company_address,self.usal
jay=Emp("JAYARAM",23,345678)
jay.__age=16
print(jay.get())
print(jay.__sal_cal())

('JAYARAM', 23, 345678, 'Khyaathi', 'maithrivanam', 380245.8)

AttributeError: 'Emp' object has no attribute '__sal_cal'