In [1]:
import sqlite3
con=sqlite3.connect("db1.sqlite3")
cur=con.cursor()
cur.execute("create table customer(id int,name varchar(250))")

In [2]:
q="insert into customer(id,name) values(1,'sai')"
cur.execute(q)

In [3]:
con.commit()

In [4]:
names=["sai","vedha","jay","samba"]
import random
for i in range(2,102):
    q="insert into customer(id,name) values(%s,'%s')"%(i,random.choice(names))
    cur.execute(q)
    con.commit()

In [5]:
q="update customer set name='vedhanvesh' where id=2"
cur.execute(q)
con.commit()

In [7]:
q="delete from customer where id=2"
cur.execute(q)
con.commit()

In [8]:
type(q)

str

In [10]:
q="select count(*) as c,name from customer group by name order by c"
cur.execute(q)

In [11]:
data = cur.fetchall()

In [12]:
print(data)

[(18, 'jay'), (24, 'samba'), (27, 'sai'), (31, 'vedha')]

In [13]:
q="select count(*) as c,name from customer group by name order by c"
cur.execute(q)
data=cur.fetchall()
print(data[-1])

(31, 'vedha')

In [14]:
import psycopg2
con=psycopg2.connect(user="postgres", password="root",host="localhost",port=5432,database="bat ch56")
cur=con.cursor()
cur.execute("create table customer(id int,name varchar(250))")
names=["sai","vedha","jay","samba"]
import random
for i in range(2,102):
    q="insert into customer(id,name) values(%s,'%s')"%(i,random.choice(names))
    cur.execute(q)
    con.commit()
q="update customer set name='vedhanvesh' where id=2"
cur.execute(q)
con.commit()
q="delete from customer where id=2"
cur.execute(q)
con.commit()
q="select count(*) as c,name from customer group by name order by c"
cur.execute(q)
data=cur.fetchall()
print(data[-1])

(35, 'vedha')